<a href="https://colab.research.google.com/github/SAHILMPATIL/Basics-of-data-manipulation/blob/main/pandas_basics_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

SERIES IN PANDAS

In [3]:
data=[1,2,3,4,5]
series=pd.Series(data)
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
#creating an series from  dcitionary
data={'a':1,'b':2,'c':3}
series_dict=pd.Series(data)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [6]:
strr=[10,40,50]
ind=['a','b','c']
pd.Series(strr,index=ind)

a    10
b    40
c    50
dtype: int64

DATAFRAMES IN PANDAS

In [7]:
#creating df from dictionary of list
data={
    'name': ['sahil' ,'sagar ','ted'],
    'Age':[24,23,22],
    'City':['bengaluru','Belagav','california']

}
df=pd.DataFrame(data)
print(df)
print(type(df))

     name  Age        City
0   sahil   24   bengaluru
1  sagar    23     Belagav
2     ted   22  california
<class 'pandas.core.frame.DataFrame'>

In [8]:
#creating  a dataframe from a list of dictionaries

data=[
    {'name':'darshan','age':28,'city':'tumkur'},
    {'name':'tushar ','age':23,'city':'belagav'},
    {'name':'mike ','age':25,'city':'new york'}
]
df=pd.DataFrame(data)
print(df)
print(type(df))

      name  age      city
0  darshan   28    tumkur
1  tushar    23   belagav
2    mike    25  new york
<class 'pandas.core.frame.DataFrame'>

In [25]:
#creating an csv file for data
import pandas as pd
from io import StringIO

data = """Date,Category,Value,Product,Sales,Region
2023-01-01,A,28.0,Product1,754.0,East
2023-01-02,B,39.0,Product3,110.0,North
2023-01-03,C,32.0,Product2,398.0,East
2023-01-04,B,8.0,Product1,522.0,East
2023-01-05,B,26.0,Product3,869.0,North
2023-01-06,B,54.0,Product3,192.0,West
2023-01-07,A,16.0,Product1,936.0,East
2023-01-08,C,89.0,Product1,488.0,West
2023-01-09,C,37.0,Product3,772.0,West
2023-01-10,A,22.0,Product2,834.0,West
2023-01-11,B,7.0,Product1,842.0,North
2023-01-12,B,60.0,Product2,,West
2023-01-13,A,70.0,Product3,628.0,South
2023-01-14,A,69.0,Product1,423.0,East
2023-01-15,A,47.0,Product2,893.0,West
2023-01-16,C,,Product1,895.0,North
2023-01-17,C,93.0,Product2,511.0,South
2023-01-18,C,,Product1,108.0,West
2023-01-19,A,31.0,Product2,578.0,West
2023-01-20,A,59.0,Product1,736.0,East
2023-01-21,C,82.0,Product3,606.0,South
2023-01-22,C,37.0,Product2,992.0,South
2023-01-23,B,62.0,Product3,942.0,North
2023-01-24,C,92.0,Product2,342.0,West
2023-01-25,A,24.0,Product2,458.0,East
2023-01-26,C,95.0,Product1,584.0,West
2023-01-27,C,71.0,Product2,619.0,North
2023-01-28,C,56.0,Product2,224.0,North
2023-01-29,B,,Product3,617.0,North
2023-01-30,C,51.0,Product2,737.0,South
2023-01-31,B,50.0,Product3,735.0,West
2023-02-01,A,17.0,Product2,189.0,West
2023-02-02,B,63.0,Product3,338.0,South
2023-02-03,C,27.0,Product3,,East
2023-02-04,C,70.0,Product3,669.0,West
2023-02-05,B,60.0,Product2,,West
2023-02-06,C,36.0,Product3,177.0,East
2023-02-07,C,2.0,Product1,,North
2023-02-08,C,94.0,Product1,408.0,South
2023-02-09,A,62.0,Product1,155.0,West
2023-02-10,B,15.0,Product1,578.0,East
2023-02-11,C,97.0,Product1,256.0,East
2023-02-12,A,93.0,Product3,164.0,West
2023-02-13,A,43.0,Product3,949.0,East
2023-02-14,A,96.0,Product3,830.0,East
2023-02-15,B,99.0,Product2,599.0,West
2023-02-16,B,6.0,Product1,938.0,South
2023-02-17,B,69.0,Product3,143.0,West
2023-02-18,C,65.0,Product3,182.0,North
2023-02-19,C,11.0,Product3,708.0,North"""

df = pd.read_csv(StringIO(data))
print(df.head(5))

df.to_csv('sales_data.csv', index=False)
print(df.tail(5))

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North
          Date Category  Value   Product  Sales Region
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [26]:
df

          Date Category  Value   Product  Sales Region
0   2023-01-01        A   28.0  Product1  754.0   East
1   2023-01-02        B   39.0  Product3  110.0  North
2   2023-01-03        C   32.0  Product2  398.0   East
3   2023-01-04        B    8.0  Product1  522.0   East
4   2023-01-05        B   26.0  Product3  869.0  North
5   2023-01-06        B   54.0  Product3  192.0   West
6   2023-01-07        A   16.0  Product1  936.0   East
7   2023-01-08        C   89.0  Product1  488.0   West
8   2023-01-09        C   37.0  Product3  772.0   West
9   2023-01-10        A   22.0  Product2  834.0   West
10  2023-01-11        B    7.0  Product1  842.0  North
11  2023-01-12        B   60.0  Product2    NaN   West
12  2023-01-13        A   70.0  Product3  628.0  South
13  2023-01-14        A   69.0  Product1  423.0   East
14  2023-01-15        A   47.0  Product2  893.0   West
15  2023-01-16        C    NaN  Product1  895.0  North
16  2023-01-17        C   93.0  Product2  511.0  South
17  2023-01-18        C    NaN  Product1  108.0   West
18  2023-01-19        A   31.0  Product2  578.0   West
19  2023-01-20        A   59.0  Product1  736.0   East
20  2023-01-21        C   82.0  Product3  606.0  South
21  2023-01-22        C   37.0  Product2  992.0  South
22  2023-01-23        B   62.0  Product3  942.0  North
23  2023-01-24        C   92.0  Product2  342.0   West
24  2023-01-25        A   24.0  Product2  458.0   East
25  2023-01-26        C   95.0  Product1  584.0   West
26  2023-01-27        C   71.0  Product2  619.0  North
27  2023-01-28        C   56.0  Product2  224.0  North
28  2023-01-29        B    NaN  Product3  617.0  North
29  2023-01-30        C   51.0  Product2  737.0  South
30  2023-01-31        B   50.0  Product3  735.0   West
31  2023-02-01        A   17.0  Product2  189.0   West
32  2023-02-02        B   63.0  Product3  338.0  South
33  2023-02-03        C   27.0  Product3    NaN   East
34  2023-02-04        C   70.0  Product3  669.0   West
35  2023-02-05        B   60.0  Product2    NaN   West
36  2023-02-06        C   36.0  Product3  177.0   East
37  2023-02-07        C    2.0  Product1    NaN  North
38  2023-02-08        C   94.0  Product1  408.0  South
39  2023-02-09        A   62.0  Product1  155.0   West
40  2023-02-10        B   15.0  Product1  578.0   East
41  2023-02-11        C   97.0  Product1  256.0   East
42  2023-02-12        A   93.0  Product3  164.0   West
43  2023-02-13        A   43.0  Product3  949.0   East
44  2023-02-14        A   96.0  Product3  830.0   East
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [28]:
df['Region']

0      East
1     North
2      East
3      East
4     North
5      West
6      East
7      West
8      West
9      West
10    North
11     West
12    South
13     East
14     West
15    North
16    South
17     West
18     West
19     East
20    South
21    South
22    North
23     West
24     East
25     West
26    North
27    North
28    North
29    South
30     West
31     West
32    South
33     East
34     West
35     West
36     East
37    North
38    South
39     West
40     East
41     East
42     West
43     East
44     East
45     West
46    South
47     West
48    North
49    North
Name: Region, dtype: object

In [29]:
df.loc[33]

Date        2023-02-03
Category             C
Value             27.0
Product       Product3
Sales              NaN
Region            East
Name: 33, dtype: object

In [30]:
df.iloc[33]

Date        2023-02-03
Category             C
Value             27.0
Product       Product3
Sales              NaN
Region            East
Name: 33, dtype: object

In [31]:
df.loc[0][0]

<ipython-input-31-02001a5303e8>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[0][0]

'2023-01-01'

In [32]:
df.loc[0][2]

<ipython-input-32-c9025ba674bc>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[0][2]

28.0

In [33]:
df.at[3.,'Region']  # accessing an element using at

'East'

In [34]:
df.iat[2,3]

'Product2'

In [37]:
# data manipulation  with dataframes
df['TIME'] = ['11', '23', '4', '3.30', '22.13'] * 9 + ['11', '23', '4', '3.30', '22.13']

In [38]:
df

          Date Category  Value   Product  Sales Region   TIME
0   2023-01-01        A   28.0  Product1  754.0   East     11
1   2023-01-02        B   39.0  Product3  110.0  North     23
2   2023-01-03        C   32.0  Product2  398.0   East      4
3   2023-01-04        B    8.0  Product1  522.0   East   3.30
4   2023-01-05        B   26.0  Product3  869.0  North  22.13
5   2023-01-06        B   54.0  Product3  192.0   West     11
6   2023-01-07        A   16.0  Product1  936.0   East     23
7   2023-01-08        C   89.0  Product1  488.0   West      4
8   2023-01-09        C   37.0  Product3  772.0   West   3.30
9   2023-01-10        A   22.0  Product2  834.0   West  22.13
10  2023-01-11        B    7.0  Product1  842.0  North     11
11  2023-01-12        B   60.0  Product2    NaN   West     23
12  2023-01-13        A   70.0  Product3  628.0  South      4
13  2023-01-14        A   69.0  Product1  423.0   East   3.30
14  2023-01-15        A   47.0  Product2  893.0   West  22.13
15  2023-01-16        C    NaN  Product1  895.0  North     11
16  2023-01-17        C   93.0  Product2  511.0  South     23
17  2023-01-18        C    NaN  Product1  108.0   West      4
18  2023-01-19        A   31.0  Product2  578.0   West   3.30
19  2023-01-20        A   59.0  Product1  736.0   East  22.13
20  2023-01-21        C   82.0  Product3  606.0  South     11
21  2023-01-22        C   37.0  Product2  992.0  South     23
22  2023-01-23        B   62.0  Product3  942.0  North      4
23  2023-01-24        C   92.0  Product2  342.0   West   3.30
24  2023-01-25        A   24.0  Product2  458.0   East  22.13
25  2023-01-26        C   95.0  Product1  584.0   West     11
26  2023-01-27        C   71.0  Product2  619.0  North     23
27  2023-01-28        C   56.0  Product2  224.0  North      4
28  2023-01-29        B    NaN  Product3  617.0  North   3.30
29  2023-01-30        C   51.0  Product2  737.0  South  22.13
30  2023-01-31        B   50.0  Product3  735.0   West     11
31  2023-02-01        A   17.0  Product2  189.0   West     23
32  2023-02-02        B   63.0  Product3  338.0  South      4
33  2023-02-03        C   27.0  Product3    NaN   East   3.30
34  2023-02-04        C   70.0  Product3  669.0   West  22.13
35  2023-02-05        B   60.0  Product2    NaN   West     11
36  2023-02-06        C   36.0  Product3  177.0   East     23
37  2023-02-07        C    2.0  Product1    NaN  North      4
38  2023-02-08        C   94.0  Product1  408.0  South   3.30
39  2023-02-09        A   62.0  Product1  155.0   West  22.13
40  2023-02-10        B   15.0  Product1  578.0   East     11
41  2023-02-11        C   97.0  Product1  256.0   East     23
42  2023-02-12        A   93.0  Product3  164.0   West      4
43  2023-02-13        A   43.0  Product3  949.0   East   3.30
44  2023-02-14        A   96.0  Product3  830.0   East  22.13
45  2023-02-15        B   99.0  Product2  599.0   West     11
46  2023-02-16        B    6.0  Product1  938.0  South     23
47  2023-02-17        B   69.0  Product3  143.0   West      4
48  2023-02-18        C   65.0  Product3  182.0  North   3.30
49  2023-02-19        C   11.0  Product3  708.0  North  22.13

In [39]:
df.drop('TIME',axis=1)#because generally the axis values is set to 0 that is index values but to shift to the column we have to shift it to the aXIS=1

          Date Category  Value   Product  Sales Region
0   2023-01-01        A   28.0  Product1  754.0   East
1   2023-01-02        B   39.0  Product3  110.0  North
2   2023-01-03        C   32.0  Product2  398.0   East
3   2023-01-04        B    8.0  Product1  522.0   East
4   2023-01-05        B   26.0  Product3  869.0  North
5   2023-01-06        B   54.0  Product3  192.0   West
6   2023-01-07        A   16.0  Product1  936.0   East
7   2023-01-08        C   89.0  Product1  488.0   West
8   2023-01-09        C   37.0  Product3  772.0   West
9   2023-01-10        A   22.0  Product2  834.0   West
10  2023-01-11        B    7.0  Product1  842.0  North
11  2023-01-12        B   60.0  Product2    NaN   West
12  2023-01-13        A   70.0  Product3  628.0  South
13  2023-01-14        A   69.0  Product1  423.0   East
14  2023-01-15        A   47.0  Product2  893.0   West
15  2023-01-16        C    NaN  Product1  895.0  North
16  2023-01-17        C   93.0  Product2  511.0  South
17  2023-01-18        C    NaN  Product1  108.0   West
18  2023-01-19        A   31.0  Product2  578.0   West
19  2023-01-20        A   59.0  Product1  736.0   East
20  2023-01-21        C   82.0  Product3  606.0  South
21  2023-01-22        C   37.0  Product2  992.0  South
22  2023-01-23        B   62.0  Product3  942.0  North
23  2023-01-24        C   92.0  Product2  342.0   West
24  2023-01-25        A   24.0  Product2  458.0   East
25  2023-01-26        C   95.0  Product1  584.0   West
26  2023-01-27        C   71.0  Product2  619.0  North
27  2023-01-28        C   56.0  Product2  224.0  North
28  2023-01-29        B    NaN  Product3  617.0  North
29  2023-01-30        C   51.0  Product2  737.0  South
30  2023-01-31        B   50.0  Product3  735.0   West
31  2023-02-01        A   17.0  Product2  189.0   West
32  2023-02-02        B   63.0  Product3  338.0  South
33  2023-02-03        C   27.0  Product3    NaN   East
34  2023-02-04        C   70.0  Product3  669.0   West
35  2023-02-05        B   60.0  Product2    NaN   West
36  2023-02-06        C   36.0  Product3  177.0   East
37  2023-02-07        C    2.0  Product1    NaN  North
38  2023-02-08        C   94.0  Product1  408.0  South
39  2023-02-09        A   62.0  Product1  155.0   West
40  2023-02-10        B   15.0  Product1  578.0   East
41  2023-02-11        C   97.0  Product1  256.0   East
42  2023-02-12        A   93.0  Product3  164.0   West
43  2023-02-13        A   43.0  Product3  949.0   East
44  2023-02-14        A   96.0  Product3  830.0   East
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [40]:
df

          Date Category  Value   Product  Sales Region   TIME
0   2023-01-01        A   28.0  Product1  754.0   East     11
1   2023-01-02        B   39.0  Product3  110.0  North     23
2   2023-01-03        C   32.0  Product2  398.0   East      4
3   2023-01-04        B    8.0  Product1  522.0   East   3.30
4   2023-01-05        B   26.0  Product3  869.0  North  22.13
5   2023-01-06        B   54.0  Product3  192.0   West     11
6   2023-01-07        A   16.0  Product1  936.0   East     23
7   2023-01-08        C   89.0  Product1  488.0   West      4
8   2023-01-09        C   37.0  Product3  772.0   West   3.30
9   2023-01-10        A   22.0  Product2  834.0   West  22.13
10  2023-01-11        B    7.0  Product1  842.0  North     11
11  2023-01-12        B   60.0  Product2    NaN   West     23
12  2023-01-13        A   70.0  Product3  628.0  South      4
13  2023-01-14        A   69.0  Product1  423.0   East   3.30
14  2023-01-15        A   47.0  Product2  893.0   West  22.13
15  2023-01-16        C    NaN  Product1  895.0  North     11
16  2023-01-17        C   93.0  Product2  511.0  South     23
17  2023-01-18        C    NaN  Product1  108.0   West      4
18  2023-01-19        A   31.0  Product2  578.0   West   3.30
19  2023-01-20        A   59.0  Product1  736.0   East  22.13
20  2023-01-21        C   82.0  Product3  606.0  South     11
21  2023-01-22        C   37.0  Product2  992.0  South     23
22  2023-01-23        B   62.0  Product3  942.0  North      4
23  2023-01-24        C   92.0  Product2  342.0   West   3.30
24  2023-01-25        A   24.0  Product2  458.0   East  22.13
25  2023-01-26        C   95.0  Product1  584.0   West     11
26  2023-01-27        C   71.0  Product2  619.0  North     23
27  2023-01-28        C   56.0  Product2  224.0  North      4
28  2023-01-29        B    NaN  Product3  617.0  North   3.30
29  2023-01-30        C   51.0  Product2  737.0  South  22.13
30  2023-01-31        B   50.0  Product3  735.0   West     11
31  2023-02-01        A   17.0  Product2  189.0   West     23
32  2023-02-02        B   63.0  Product3  338.0  South      4
33  2023-02-03        C   27.0  Product3    NaN   East   3.30
34  2023-02-04        C   70.0  Product3  669.0   West  22.13
35  2023-02-05        B   60.0  Product2    NaN   West     11
36  2023-02-06        C   36.0  Product3  177.0   East     23
37  2023-02-07        C    2.0  Product1    NaN  North      4
38  2023-02-08        C   94.0  Product1  408.0  South   3.30
39  2023-02-09        A   62.0  Product1  155.0   West  22.13
40  2023-02-10        B   15.0  Product1  578.0   East     11
41  2023-02-11        C   97.0  Product1  256.0   East     23
42  2023-02-12        A   93.0  Product3  164.0   West      4
43  2023-02-13        A   43.0  Product3  949.0   East   3.30
44  2023-02-14        A   96.0  Product3  830.0   East  22.13
45  2023-02-15        B   99.0  Product2  599.0   West     11
46  2023-02-16        B    6.0  Product1  938.0  South     23
47  2023-02-17        B   69.0  Product3  143.0   West      4
48  2023-02-18        C   65.0  Product3  182.0  North   3.30
49  2023-02-19        C   11.0  Product3  708.0  North  22.13

In [41]:
# df.drop('TIME',axis=1)  this code is not  a permanent but a temporary  on  but we have to  use inplace function to permanently delete
df.drop('TIME',axis=1,inplace=True)

In [42]:
df

          Date Category  Value   Product  Sales Region
0   2023-01-01        A   28.0  Product1  754.0   East
1   2023-01-02        B   39.0  Product3  110.0  North
2   2023-01-03        C   32.0  Product2  398.0   East
3   2023-01-04        B    8.0  Product1  522.0   East
4   2023-01-05        B   26.0  Product3  869.0  North
5   2023-01-06        B   54.0  Product3  192.0   West
6   2023-01-07        A   16.0  Product1  936.0   East
7   2023-01-08        C   89.0  Product1  488.0   West
8   2023-01-09        C   37.0  Product3  772.0   West
9   2023-01-10        A   22.0  Product2  834.0   West
10  2023-01-11        B    7.0  Product1  842.0  North
11  2023-01-12        B   60.0  Product2    NaN   West
12  2023-01-13        A   70.0  Product3  628.0  South
13  2023-01-14        A   69.0  Product1  423.0   East
14  2023-01-15        A   47.0  Product2  893.0   West
15  2023-01-16        C    NaN  Product1  895.0  North
16  2023-01-17        C   93.0  Product2  511.0  South
17  2023-01-18        C    NaN  Product1  108.0   West
18  2023-01-19        A   31.0  Product2  578.0   West
19  2023-01-20        A   59.0  Product1  736.0   East
20  2023-01-21        C   82.0  Product3  606.0  South
21  2023-01-22        C   37.0  Product2  992.0  South
22  2023-01-23        B   62.0  Product3  942.0  North
23  2023-01-24        C   92.0  Product2  342.0   West
24  2023-01-25        A   24.0  Product2  458.0   East
25  2023-01-26        C   95.0  Product1  584.0   West
26  2023-01-27        C   71.0  Product2  619.0  North
27  2023-01-28        C   56.0  Product2  224.0  North
28  2023-01-29        B    NaN  Product3  617.0  North
29  2023-01-30        C   51.0  Product2  737.0  South
30  2023-01-31        B   50.0  Product3  735.0   West
31  2023-02-01        A   17.0  Product2  189.0   West
32  2023-02-02        B   63.0  Product3  338.0  South
33  2023-02-03        C   27.0  Product3    NaN   East
34  2023-02-04        C   70.0  Product3  669.0   West
35  2023-02-05        B   60.0  Product2    NaN   West
36  2023-02-06        C   36.0  Product3  177.0   East
37  2023-02-07        C    2.0  Product1    NaN  North
38  2023-02-08        C   94.0  Product1  408.0  South
39  2023-02-09        A   62.0  Product1  155.0   West
40  2023-02-10        B   15.0  Product1  578.0   East
41  2023-02-11        C   97.0  Product1  256.0   East
42  2023-02-12        A   93.0  Product3  164.0   West
43  2023-02-13        A   43.0  Product3  949.0   East
44  2023-02-14        A   96.0  Product3  830.0   East
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [43]:
df.drop(0)

          Date Category  Value   Product  Sales Region
1   2023-01-02        B   39.0  Product3  110.0  North
2   2023-01-03        C   32.0  Product2  398.0   East
3   2023-01-04        B    8.0  Product1  522.0   East
4   2023-01-05        B   26.0  Product3  869.0  North
5   2023-01-06        B   54.0  Product3  192.0   West
6   2023-01-07        A   16.0  Product1  936.0   East
7   2023-01-08        C   89.0  Product1  488.0   West
8   2023-01-09        C   37.0  Product3  772.0   West
9   2023-01-10        A   22.0  Product2  834.0   West
10  2023-01-11        B    7.0  Product1  842.0  North
11  2023-01-12        B   60.0  Product2    NaN   West
12  2023-01-13        A   70.0  Product3  628.0  South
13  2023-01-14        A   69.0  Product1  423.0   East
14  2023-01-15        A   47.0  Product2  893.0   West
15  2023-01-16        C    NaN  Product1  895.0  North
16  2023-01-17        C   93.0  Product2  511.0  South
17  2023-01-18        C    NaN  Product1  108.0   West
18  2023-01-19        A   31.0  Product2  578.0   West
19  2023-01-20        A   59.0  Product1  736.0   East
20  2023-01-21        C   82.0  Product3  606.0  South
21  2023-01-22        C   37.0  Product2  992.0  South
22  2023-01-23        B   62.0  Product3  942.0  North
23  2023-01-24        C   92.0  Product2  342.0   West
24  2023-01-25        A   24.0  Product2  458.0   East
25  2023-01-26        C   95.0  Product1  584.0   West
26  2023-01-27        C   71.0  Product2  619.0  North
27  2023-01-28        C   56.0  Product2  224.0  North
28  2023-01-29        B    NaN  Product3  617.0  North
29  2023-01-30        C   51.0  Product2  737.0  South
30  2023-01-31        B   50.0  Product3  735.0   West
31  2023-02-01        A   17.0  Product2  189.0   West
32  2023-02-02        B   63.0  Product3  338.0  South
33  2023-02-03        C   27.0  Product3    NaN   East
34  2023-02-04        C   70.0  Product3  669.0   West
35  2023-02-05        B   60.0  Product2    NaN   West
36  2023-02-06        C   36.0  Product3  177.0   East
37  2023-02-07        C    2.0  Product1    NaN  North
38  2023-02-08        C   94.0  Product1  408.0  South
39  2023-02-09        A   62.0  Product1  155.0   West
40  2023-02-10        B   15.0  Product1  578.0   East
41  2023-02-11        C   97.0  Product1  256.0   East
42  2023-02-12        A   93.0  Product3  164.0   West
43  2023-02-13        A   43.0  Product3  949.0   East
44  2023-02-14        A   96.0  Product3  830.0   East
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [44]:
df

          Date Category  Value   Product  Sales Region
0   2023-01-01        A   28.0  Product1  754.0   East
1   2023-01-02        B   39.0  Product3  110.0  North
2   2023-01-03        C   32.0  Product2  398.0   East
3   2023-01-04        B    8.0  Product1  522.0   East
4   2023-01-05        B   26.0  Product3  869.0  North
5   2023-01-06        B   54.0  Product3  192.0   West
6   2023-01-07        A   16.0  Product1  936.0   East
7   2023-01-08        C   89.0  Product1  488.0   West
8   2023-01-09        C   37.0  Product3  772.0   West
9   2023-01-10        A   22.0  Product2  834.0   West
10  2023-01-11        B    7.0  Product1  842.0  North
11  2023-01-12        B   60.0  Product2    NaN   West
12  2023-01-13        A   70.0  Product3  628.0  South
13  2023-01-14        A   69.0  Product1  423.0   East
14  2023-01-15        A   47.0  Product2  893.0   West
15  2023-01-16        C    NaN  Product1  895.0  North
16  2023-01-17        C   93.0  Product2  511.0  South
17  2023-01-18        C    NaN  Product1  108.0   West
18  2023-01-19        A   31.0  Product2  578.0   West
19  2023-01-20        A   59.0  Product1  736.0   East
20  2023-01-21        C   82.0  Product3  606.0  South
21  2023-01-22        C   37.0  Product2  992.0  South
22  2023-01-23        B   62.0  Product3  942.0  North
23  2023-01-24        C   92.0  Product2  342.0   West
24  2023-01-25        A   24.0  Product2  458.0   East
25  2023-01-26        C   95.0  Product1  584.0   West
26  2023-01-27        C   71.0  Product2  619.0  North
27  2023-01-28        C   56.0  Product2  224.0  North
28  2023-01-29        B    NaN  Product3  617.0  North
29  2023-01-30        C   51.0  Product2  737.0  South
30  2023-01-31        B   50.0  Product3  735.0   West
31  2023-02-01        A   17.0  Product2  189.0   West
32  2023-02-02        B   63.0  Product3  338.0  South
33  2023-02-03        C   27.0  Product3    NaN   East
34  2023-02-04        C   70.0  Product3  669.0   West
35  2023-02-05        B   60.0  Product2    NaN   West
36  2023-02-06        C   36.0  Product3  177.0   East
37  2023-02-07        C    2.0  Product1    NaN  North
38  2023-02-08        C   94.0  Product1  408.0  South
39  2023-02-09        A   62.0  Product1  155.0   West
40  2023-02-10        B   15.0  Product1  578.0   East
41  2023-02-11        C   97.0  Product1  256.0   East
42  2023-02-12        A   93.0  Product3  164.0   West
43  2023-02-13        A   43.0  Product3  949.0   East
44  2023-02-14        A   96.0  Product3  830.0   East
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [45]:
df.drop(0,inplace=True)

In [46]:
df

          Date Category  Value   Product  Sales Region
1   2023-01-02        B   39.0  Product3  110.0  North
2   2023-01-03        C   32.0  Product2  398.0   East
3   2023-01-04        B    8.0  Product1  522.0   East
4   2023-01-05        B   26.0  Product3  869.0  North
5   2023-01-06        B   54.0  Product3  192.0   West
6   2023-01-07        A   16.0  Product1  936.0   East
7   2023-01-08        C   89.0  Product1  488.0   West
8   2023-01-09        C   37.0  Product3  772.0   West
9   2023-01-10        A   22.0  Product2  834.0   West
10  2023-01-11        B    7.0  Product1  842.0  North
11  2023-01-12        B   60.0  Product2    NaN   West
12  2023-01-13        A   70.0  Product3  628.0  South
13  2023-01-14        A   69.0  Product1  423.0   East
14  2023-01-15        A   47.0  Product2  893.0   West
15  2023-01-16        C    NaN  Product1  895.0  North
16  2023-01-17        C   93.0  Product2  511.0  South
17  2023-01-18        C    NaN  Product1  108.0   West
18  2023-01-19        A   31.0  Product2  578.0   West
19  2023-01-20        A   59.0  Product1  736.0   East
20  2023-01-21        C   82.0  Product3  606.0  South
21  2023-01-22        C   37.0  Product2  992.0  South
22  2023-01-23        B   62.0  Product3  942.0  North
23  2023-01-24        C   92.0  Product2  342.0   West
24  2023-01-25        A   24.0  Product2  458.0   East
25  2023-01-26        C   95.0  Product1  584.0   West
26  2023-01-27        C   71.0  Product2  619.0  North
27  2023-01-28        C   56.0  Product2  224.0  North
28  2023-01-29        B    NaN  Product3  617.0  North
29  2023-01-30        C   51.0  Product2  737.0  South
30  2023-01-31        B   50.0  Product3  735.0   West
31  2023-02-01        A   17.0  Product2  189.0   West
32  2023-02-02        B   63.0  Product3  338.0  South
33  2023-02-03        C   27.0  Product3    NaN   East
34  2023-02-04        C   70.0  Product3  669.0   West
35  2023-02-05        B   60.0  Product2    NaN   West
36  2023-02-06        C   36.0  Product3  177.0   East
37  2023-02-07        C    2.0  Product1    NaN  North
38  2023-02-08        C   94.0  Product1  408.0  South
39  2023-02-09        A   62.0  Product1  155.0   West
40  2023-02-10        B   15.0  Product1  578.0   East
41  2023-02-11        C   97.0  Product1  256.0   East
42  2023-02-12        A   93.0  Product3  164.0   West
43  2023-02-13        A   43.0  Product3  949.0   East
44  2023-02-14        A   96.0  Product3  830.0   East
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [48]:
df.describe() #gives a statistical summary

           Value       Sales
count  46.000000   45.000000
mean   52.260870  552.755556
std    29.152804  276.075513
min     2.000000  108.000000
25%    28.000000  338.000000
50%    55.000000  584.000000
75%    70.000000  772.000000
max    99.000000  992.000000